//@import "qixuan/qixuan.min.scss";
@import "qixuan/qixuan.scss";
@import "../static/fonts/font.css";

body{
    background: linear-gradient(to bottom, #ffffff, #aad1ff, #89a8ff, #7190ff) no-repeat;
}
header.Header {
    width: 100%;
    height: 1.47rem;
    background: linear-gradient(to right, #8e6bec, #19d3cf);
    overflow: hidden;
    border-bottom: 0.01rem solid #ccc;
    position: relative;
    z-index: 999;
    @extend .beforeAndAfter;
    p.title {
        height: 1.07rem;
        line-height: 1.33rem;
        font-size: 0.80rem;
        font-family: Perfograma;
        text-align: center;
        letter-spacing: 0.27rem;
        color: #3f60bf;
        transition: color 5s;
        &::selection{
            background: rgba(0,0,0,0.2);
        }
    }

}
.Navigation{
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #8e6bec, #19d3cf);
    z-index: 99;
    ul.Navigation-box{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        li.Nav-list{
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            color: #444444;
            font-size: 0.27rem;
            cursor: pointer;
            position: relative;
            p.nav-title{
                width: 100%;
                height: 1rem;
                position: absolute;
                top: 0;
                z-index: 999;
                transition: 0.3s;
            }
            ul.nav-list-box{
                width: 100%;
                height: auto;
                max-height: 8.00rem;
                overflow: auto;
                box-sizing: border-box;
                padding: 10px 0;
                background: rgba(0,0,0,0.5);
                color: #eee;
                position: absolute;
                top: -8rem;
                transition: 0.3s;
                li{
                    width: 100%;
                    height: 1rem;
                    box-sizing: border-box;
                    transition: 0.3s;
                    &:hover{
                        background: rgba(0,0,0,0.5);
                        color: #00b3fb;
                    }
                }
            }
            &:hover{
                p.nav-title{
                    color: #ffffff;
                    background: rgba(0,0,0,0.5);
                }
                ul.nav-list-box{
                    top: 1rem;
                }
            }

        }

    }
}
.Container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    @extend .beforeAndAfter;
    .content{
        position: absolute;
        z-index: -1;
        margin: 0;
        padding: 0;
        background: #383838;
    }
    p{
        width: 100%;
        height: 6.67rem;
    }
}



