
@font-face {
    font-family: perfograma;
    src: url('./perfograma.otf');
}

@font-face {
    font-family: ColorTube;
    src: url('./ColorTube.otf');
}

@font-face {
    font-family: GOGOIA-Regular;
    src: url('./GOGOIA-Regular.otf');
}

@font-face {
    font-family: Resphekt-Regular;
    src: url('./Resphekt-Regular.otf');
}